<!DOCTYPE html>
<html>
  <head>
    <title>Robson e Larissa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width:device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/estilos.css">
    <%= stylesheet_link_tag "estilos-mobile.css" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <a name="index"></a>
    <header>
      <div id="menu-mobile-mask" class="visible-xs"></div>
      <div id="menu-mobile" class="visible-xs">
        <div class="visible-xs" id="logo-menu-mobile"></div>
        <div class="visible-xs" id=buttons-mobile>
          <% if logged_in? %>
            <ul id="buttons-mobile">
              <li class="link-mobile"><%= link_to 'Início', root_path %></li>
              <li class="link-mobile"><%= link_to 'Confirmar Presença', new_confirmation_path %></li>
              <li class="link-mobile"><a href="https://www.querodecasamento.com.br/lista-de-casamento/larissa-diniz-nazareth-robson-de-souza-resende">Lista de presentes</a></li>
              <li class="link-mobile"><%= link_to 'Área dos noivos', confirmations_path %></li>
              <li class="link-mobile"><%= link_to 'Sair', logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul id="buttons-mobile">
              <li class="link-mobile"><%= link_to 'Início', root_path %></li>
              <li class="link-mobile"><%= link_to 'Confirmar Presença', new_confirmation_path %></li>
              <li class="link-mobile"><a href="https://www.querodecasamento.com.br/lista-de-casamento/larissa-diniz-nazareth-robson-de-souza-resende">Lista de presentes</a></li>
              <li class="link-mobile"><%= link_to 'Área dos noivos', login_path %></li>
              </ul>
          <% end %>
        </div>
      </div>
          
        </div>
      </div>
      <div class="social-bar">
        <div class="container list-socials-up">
          <div class="row row-socials">
            <ul class="list-unstyled list-socials">
                <li>
                  <a href="https://www.facebook.com/larissa.diniz.18659?hc_ref=ARR74CYs6WKNaVv7LTu5zA8-pKPimW0QgSne8W6_TgEF8v7aFLeweEgZJ6PfisVpjJs" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/larissa.diniz.21/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.google.com.br/maps/place/Toque+de+Minas/@-20.7668244,-43.9002253,17z/data=!4m12!1m6!3m5!1s0xa17b23bf867bf5:0x3ceb038e8ab6facf!2sToque+de+Minas!8m2!3d-20.7671442!4d-43.8995326!3m4!1s0xa17b23bf867bf5:0x3ceb038e8ab6facf!8m2!3d-20.7671442!4d-43.8995326" target="_blank"><i class="fa fa-map-marker"></i></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="logotipo">
      </div>
      <div class="header-menu">
        <a id="link-do-mal" class="visible-xs"><i id="button-mobile" class="fa fa-bars"></i></a>
        <div id="menu" class="container">
          <div class=row>
            <% if logged_in? %>
                <nav id="menu-links" class="pull-right">
                  <ul>
                    <li><%= link_to 'Início', root_path %></li>
                    <li><%= link_to 'Confirmar Presença', new_confirmation_path %></li>
                    <li><a href="https://www.querodecasamento.com.br/lista-de-casamento/larissa-diniz-nazareth-robson-de-souza-resende">Lista de presentes</a></li>
                    <li><%= link_to 'Área dos noivos', confirmations_path %></li>
                    <li><%= link_to 'Sair', logout_path, method: :delete %></li>
                  </ul>
            <% else %>
                <ul>
                  <li><%= link_to 'Início', root_path %></li>
                  <li><%= link_to 'Confirmar Presença', new_confirmation_path %></li>
                  <li><a href="https://www.querodecasamento.com.br/lista-de-casamento/larissa-diniz-nazareth-robson-de-souza-resende">Lista de presentes</a></li>
                  <li><%= link_to 'Área dos noivos', login_path %></li>
                </ul>
              </nav>
            <% end %>
          </div> 
        </div>
      </div>
        <% if logged_in? %>
          <div id="user">
            <h1> <%= current_user.username %> </h1>
          </div>
        <% end %>
    </header>
    <div class=messages>
      <% flash.each do|name, msg| %>
        <ul>
          <li><%= msg %></li>
        </ul>
      <% end %>
    </div>

    <%= yield %>

   <footer>
     <div class="infos-right-mobile visible-xs visible-sm visible-md">
      <h1>Links</h1>
      <ul>
        <li><%= link_to 'Início', root_path %></li>
        <li><%= link_to 'Confirmar Presença', new_confirmation_path %></li>
        <li><a href="https://www.querodecasamento.com.br/lista-de-casamento/larissa-diniz-nazareth-robson-de-souza-resende">Lista de presentes</a></li>
        <li><%= link_to 'Área dos noivos', login_path %></li>
      </ul>
     </div>
     <div class="infos-left-mobile visible-xs visible-sm visible-md">
      <h2>Contato:</h2>
      <ul>
        <li>robson.souza.mg@ hotmail.com</li>
        <li>larissadiniz1908@ hotmail.com</li>
      </ul>
     </div>
     <div class="list-socials-mobile visible-xs visible-sm visible-md">
      <ul class="list-socials links-socials-mobile">
        <li>
          <a href="https://www.facebook.com/larissa.diniz.18659?hc_ref=ARR74CYs6WKNaVv7LTu5zA8-pKPimW0QgSne8W6_TgEF8v7aFLeweEgZJ6PfisVpjJs" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/larissa.diniz.21/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
         <li>
          <a href="https://www.google.com.br/maps/place/Toque+de+Minas/@-20.7668244,-43.9002253,17z/data=!4m12!1m6!3m5!1s0xa17b23bf867bf5:0x3ceb038e8ab6facf!2sToque+de+Minas!8m2!3d-20.7671442!4d-43.8995326!3m4!1s0xa17b23bf867bf5:0x3ceb038e8ab6facf!8m2!3d-20.7671442!4d-43.8995326" target="_blank"><i class="fa fa-map-marker"></i></a>
         </li>
         <li>
          <a href="#index" target="_self"><i class="fa fa-angle-up"></i></a>
         </li>
      </ul>
     </div>

      <div class="up-footer">
        <div class="container container-right">
          <div class="row footer-infos">
            <div class="col-md-6 logotipo-left">
              <div class="logotipo-rodape"></div>
            </div>
            <div class="col-md-6 infos-right">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 links">
                    <h1>Links</h1>
                    <ul>
                      <li><%= link_to 'Início', root_path %></li>
                      <li><%= link_to 'Confirmar Presença', new_confirmation_path %></li>
                      <li><a href="https://www.querodecasamento.com.br/lista-de-casamento/larissa-diniz-nazareth-robson-de-souza-resende">Lista de presentes</a></li>
                      <li><%= link_to 'Área dos noivos', login_path %></li>
                    </ul>
                    
                  </div>
                   <div class="col-md-4 personal-infos">
                    <h2>Contato:</h2>
                     <ul>
                        <li>robson.souza.mg@hotmail.com</li>
                        <li>larissadiniz1908@hotmail.com</li>
                      </ul>
                      <ul class="list-unstyled list-socials">
                        <li>
                          <a href="https://www.facebook.com/larissa.diniz.18659?hc_ref=ARR74CYs6WKNaVv7LTu5zA8-pKPimW0QgSne8W6_TgEF8v7aFLeweEgZJ6PfisVpjJs" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="https://www.instagram.com/larissa.diniz.21/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                          <a href="https://www.google.com.br/maps/place/Toque+de+Minas/@-20.7668244,-43.9002253,17z/data=!4m12!1m6!3m5!1s0xa17b23bf867bf5:0x3ceb038e8ab6facf!2sToque+de+Minas!8m2!3d-20.7671442!4d-43.8995326!3m4!1s0xa17b23bf867bf5:0x3ceb038e8ab6facf!8m2!3d-20.7671442!4d-43.8995326" target="_blank"><i class="fa fa-map-marker"></i></a>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="down-footer">
        <p class="pull-left">Copyright © Robson Resende e Larissa Diniz</p>
        <p class="pull-right developer">Desenvolvido por Robson Resende</p>
        <div class="logo-rodape-mobile"></div>
      </div>
    </footer>
    <%= javascript_include_tag 'effects.js' %>
  </body>
</html>
